.Contact{
  background-image: url('https://smartcode.am/public/image/header.svg');
  min-height:100vh ;
  background-size: 100% 100% ;
  position: fixed;
  background-position: center;
  object-fit: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


 ul li {
  font-size: 60px;
  color: rgb(234, 112, 31);
  position: relative;
  top: 220PX;

 }

  }