ul{
  font-size: 40px;
  text-align: center;
  align-items: center;
  color: blue;
  border: 2px solid rgb(31, 13, 13);
  background-color: rgb(245, 227, 227);
  padding: 20px;
  margin: 30px;
  cursor: pointer;
}

h1{
  text-align: center;
  margin: 10px;
  color: burlywood;
  font-size: 40px;
}