.Quotes {
  width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  &__item {
    background-color: tan;
    padding: 2em;
    border-radius: 20px;
    color: #711a1a;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 10px 50px;
    button {
      padding: 0.6rem 1rem;
      border: 0;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 700;
      background-color: #000;
      color: #fff;
      font-size: 40px;
    }
  }
}
