.OurProducts {
    background-color: #eee;
    padding: 2em;

    &__title {
        font-family: cursive;
        font-size: 40px;
        text-align: center;

        &>a {
            color: darkblue;
        }
    }
}

.telephones {
    margin: 50px auto;
    display: flex;
    width: 85%;
    gap: 20px;
    padding: 1em 2em;

    &__loader {
        height: auto;
        flex-grow: 1;
        border-radius: 12px;
    }

    &__phone {
        padding: 1em;
        border-radius: 12px;
        position: relative;
        flex: 0 0 23%;
        background-color: white;
        overflow: hidden;

        &>img {
            height: 80%;
            width: 100%;
            object-fit: contain;
            margin: 0 auto;
            display: block;
        }

        &>p {
            position: absolute;
            bottom: 10px;
            font-size: 18px;
        }

        &>em {
            font-size: 25px;
            color: rgb(3, 3, 87);
            position: absolute;
            right: 15px;
            bottom: 10px;
        }
    }

}