.Users {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 200px auto;

    &>button {
        height: 100%;
        border: none;
        font-size: 40px;
        transition: 0.3s;
        background: white;
    }

    &>button:active {
        transition: 0.3s;
        scale: 0.8;
    }

    &__user {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        background-color: rgb(38, 57, 77);
        width: 550px;
        border-radius: 12px;
        color: white;
        padding: 0.5em;
        text-align: center;

        em {
            color: red;
        }

        i {
            margin-left: 20px;

            &:hover {
                &:before {
                    scale: 1.2;
                }
            }
        }
    }
}