body{
    background-color: rgb(211, 211, 211);
}
div{
    h1{
        color: blueviolet;
        margin-bottom: 15px;
    }
    .Blog1__foto{
        margin-left: 35%;
    }
    .Blog1__radius{
        margin: 0;
        text-align: center;
        color: blueviolet;
        font-weight: 500;
        font-size: 20px;
    }
    p{
        margin: 0;
        padding: 20px;
        font-weight: 700;
        line-height: 2;
    }
    
}