.Modal{
    position: fixed;
    top: 20%;
    left: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    animation: show 2s linear 0s 1 alternate-reverse both;
    &__content{
        font-size: 20px;
        color: gray;
        font-weight: 800;
       border-radius: 8px;
        box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
        background-color: orangered;
        &>p{
            margin: 5px;
        }
    }

}
@keyframes show {
    0%{
        transform: translateY(-400%); 
    }
    35%,85%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(-400%);
    }
}