.Server {
    height: 700px;
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 1em;

    &>.sign {
        border-radius: 12px;
        width: 400px;
        flex-shrink: 0;
        padding: 10px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 56px,
            rgba(17, 17, 26, 0.1) 0px 24px 80px;

        &>.btn {
            border-radius: 10px;
            background-color: rgb(10, 73, 132);
        }

        input,
        textarea {
            background-color: #eee;
            margin-top: 10px;
            width: 100%;
            padding: 0.6rem 1em;
            font-size: 20px;
        }
    }

    &__posts {
        width: 730px;
        height: 450px;
        margin: 0 auto;
        padding: 2em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 160px;
        gap: 30px;

        &>div {
            width: 300px;
            position: relative;
            border-radius: 12px;
            background-color: #eee;
            padding: 0.5em;

            &>.forma{
                position: relative;
                height: 100%;
                .forma__cancel{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(217, 60, 60);
                    color: black;
                    padding: 0.5em;
                    border-radius: 10px;
                    border: none;
                    &:active{
                        scale: 0.9;
                    }
                    
                }
                .forma__save{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color:rgb(51, 149, 209);
                    color: black;
                    padding: 0.5em;
                    border-radius: 10px;
                    border: none;
                    &:active{
                        scale: 0.9;
                    }
                    
                }
            }
            &>.edit {
                background-color:#eee;
                color: black;
                border: none;
                position: absolute;
                bottom: 5px;
                right: 5px;
                transition: 0.3s;
                font-size: 16px;

                &:hover {
                background-color:#eee;
                    color: red;
                }

                &:active {
                    transition: 0.3s;
                    scale: 0.8;
                }
            }

            &>h2 {
                margin-top: 0;
                font-size: 15px;
                font-weight: 600;
            }

            &>p {
                margin-top: 10px;
                font-size: 13px;
                font-weight: 400;
            }

            

            
        }
    }
}

.JsonPaginate {
    height: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    &>li {
        background-color: rgb(10, 73, 132);
        height: 30px;
        border-radius: 20px;
        overflow: hidden;

        &>a {
            padding: 1em;
        }
    }
}

.delete {
    background-color: rgb(10, 73, 132);
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -20px;
    right: -20px;

    &:hover {
        background-color: aqua;
    }

    &:active {
        scale: 0.8;
    }
}