.About {
    background-image: url(https://media.istockphoto.com/id/1237701299/photo/young-man-is-sitting-reading-in-the-window-in-the-room-with-soft-focus-and-over-light-in-the.jpg?s=1024x1024&w=is&k=20&c=eVtigT0r1tak5ljQNtC2U1M3O9A3q-ZegkwpHDWtm3Y=);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    h1 {
        position: absolute;
        margin-top: 200px;
        color: #1d1d1d;
        font-style: italic;
        font-size: 40px;
        text-shadow: 3px 3px 10px #1d1d1d;
    }

}