.PlaceBloger{
    height:90vh;
    display: flex;
    gap:20px;
    padding:100px 1em ;
    img{
        width: 600px;
        height: 450px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.15) 10.95px 10.95px 10.6px;
    }
    div{
        p{
            margin-top: 50px;
        }
    }
    
}