.users{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    ul{
        border-radius: 12px;
        background-color: #1d1d1d;
        color: yellow;
        li{
            padding: 0.5em;
        }
    }
}
.paginate{
    margin:50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    li{
        background-color: #eee;
        border-radius: 12px;
        &.selected{
            scale: 0.8;
            text-decoration: underline;
        }
        a{
            padding: 1em;
        }
    }
}