header {
    width: 100%;
    background-color: rgb(132, 212, 11);
    &:hover{
        background-color:green
    }
    &>div {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em;
        align-items: center;
        img {
            width: 10%;
        }
        &>div {
            flex-basis: 50%;
            &>ul {
                list-style: none;
                display: flex;
                gap: 1em;
                justify-content: flex-end;
                &>li {
                    font-size: 20px;
                    &>a {
                        text-decoration: none;
                        color: yellow
                    }
                    &:hover{
                        scale: 1.1;
                    }
                    &:active{
                        scale: 1;
                    }
                }
            }
        }
    }
}