.ErrorPage{
  min-height:100vh ;
  display: grid;
  align-items: center;
  padding: 1em;
  place-items: end;
  justify-items: start;
  background-color: aliceblue;
  background-image: url('https://images.unsplash.com/photo-1623018035782-b269248df916?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  filter: blur(1);
  h1{
     color: red;
    font-size: 4em;
  }

  em{
    color: rgba(215, 0, 0, 0.518);
  }

  a{
    background-color:orangered;
    color: #ffffff;
    padding: 0.6rem 1rem;
    border: 0;
    border-radius: 4px;
    font-size: 2em;
    width: 150px;
    height: 60px;
    position: relative;
    top: -220px;
  }
}