.ErrorPage{
  min-height:100vh ;
  display: grid;
  align-items: center;
  padding: 1em;
  place-items: end;
  justify-items: start;
  background-color: aliceblue;
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*Q4siw3Tjji6ZCvJ0Aynd-A.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  filter: blur(1);
  h1{
     color: red;
    font-size: 4em;
  }

  em{
    color: rgba(215, 0, 0, 0.518);
  }

  a{
    background-color:orangered;
    color: #ffffff;
    padding: 0.6rem 1rem;
    border: 0;
    border-radius: 4px;
    font-size: 2em;
    width: 150px;
    height: 60px;
    position: relative;
    top: -220px;
  }
}