.hooks{
  background-color: rgba(89, 224, 188, 0.844);
  display: grid;
  width:  100%;
  

}

body{
  background: rgb(14, 193, 187);
}

.hooks button{
  color: black;
  background-color: rgba(14, 212, 215, 0.89);
  cursor: pointer;
  font-size: 40px;
}