.App {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 100px;
  min-height: 100vh;
  margin: 0 auto;
  &__navigation {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 2px solid royalblue;
    width: 100%;
    gap: 10px;
    li {
      background-color: #eee;
      cursor: pointer;
      &.selected {
        background-color: forestgreen;
        color: #fff;
        font-weight: 700;
      }
      a {
        height: 100%;
        padding: 1em;
      }
    }
  }
  &__Users {
    padding: 2em;
    width: 800px;
    margin: 0 auto;
    & > div {
      border: 2px solid teal;
      padding: 1em;
      margin-bottom: 10px;
    }
  }
}
