 div{
  text-align: center;
  font-size: 50px;
  background-color: rgb(43, 251, 251);
  color: blue;
  margin: 20px;
 
 }

button{
  font-size: 50px;
  width: 200px;
  background-color: red;
  color: orange;
  cursor: pointer;
  margin: 20px;
  border: 2px solid;

}

