* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  background-color: #1d1d1d;
  padding: 2em;
  width: 50%;
  margin: 20px auto;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  white-space: pre-line;
}

textarea {
  width: 100%;
  white-space: pre-line;
  resize: none;
}

button {
  padding: 0.6rem 1rem;
  border: 0;
  border-radius: 6px;
  background-color: #404754;
  color: orange;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

button:active {
  scale: 0.98;
  box-shadow: rgba(168, 162, 162, 0.542) 0px 5px 15px inset;
}

button:disabled {
  background-color: grey;
  cursor: no-drop;
  color: white;
}