.Container {
    padding: 30px;
    background-color: #F3F3F3;
    text-align: center;
    &__loader{
        position: absolute;  
    }
    &>h1{
        font-size: 3em;
        font-family: "Fira Code", monospace;
        & > span{
            color: #2C2975;
        }
    }

    &__block {
        display: flex;
        gap: 30px;
        justify-content: center;

        &__mobile {
            background-color: #FFFFFF;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                scale: 1.05;
                box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
            }

            &__info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                &> h3{
                    font-weight: 400;
                    color: rgb(43, 40, 40);
                }
                &>p,i{
                    font-size: 25px;
                    color: #393B60;
                    font-style: italic;
                }
            }

        }
    }

}